@use "../../styles/variables" as *;

.button-block {
  display: inline-block;
  padding: $spacing-1 $spacing-2;
  border-radius: $border-radius-base;
  text-decoration: none;
  font-family: $font-family-base;
  font-weight: 600;

  &--primary {
    background-color: $color-primary;
    color: #fff;
  }

  &--secondary {
    background-color: $color-secondary;
    color: #fff;
  }
}
